#carousel-section {
  background-color: var(--color-gray1);
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;

  h2 {
    padding-bottom: 1rem;
    font-size: 2.2rem;

  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
}

.caurusel {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.bottom {
  max-width: 70ch;
  margin-inline: auto;
}

.iphone-1,
.iphone-3 {
display: none;
}

@media (min-width: 768px) {
  .iphone-1,
  .iphone-3 {
  display: block;
  }
}

@media (min-width: 1320px) {

  .container {
    padding-bottom: 3rem;
  }
  .iphone-2 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}